<div class="album py-5 bg-white">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let user of allUsers">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <p class="card-text"><strong>Username:</strong> {{ user.userName }}</p>
            <p class="card-text"><strong>Name:</strong> {{ user.name }}</p>
            <p class="card-text"><strong>Surname:</strong> {{ user.surname }}</p>
            <div class="d-flex justify-content-between align-items-center no-right-padding">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="viewUser(user.userName)">View
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        *ngIf="(accountService.currentUser$ | async)?.userName !== user.userName"
                        (click)="removeUser(user.id)"
                >
                  Remove
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        *ngIf="(accountService.currentUser$ | async)" (click)="editUser(user.userName)">Edit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" *ngIf="(accountService.currentUser$ | async)" (click)="addNewUser()">Add new
        user
      </button>
    </div>
    <div *ngIf="allUsers.length === 0" class="alert alert-info">
      There are no users in the database.
    </div>
  </div>
</div>
